body{
    background-color: white;
}

@media only screen and (max-width: 1026px) { 
    #responsivo1 { 
      display: none; 
    } 
  }

  @media only screen and (max-width: 1026px) { 
    #responsivo2 { 
      display: none; 
    } 
  }

  @media only screen and (min-width: 1026px) { 
    #responsivo3 { 
      display: none; 
    } 
  }
